<!DOCTYPE html>
<html lang="en">
<head>
    <title>web docker registry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">web  private docker registry </a>
            </div>
           
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if not request.session.login_data   %}
                        <li><a href="/">login</a></li>
                    {% else %}
                        <li><a href="/logout">logout</a></li>
                        <li><a href="/registry">home</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
   
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
   
    <footer>
        <div class="container">
            <div class="row well ml-t">
                <div class="col-lg-8 col-md-8">    
                    <h6>Developed by: <a href="https://shirpala.ir" target="_blank">Hosein montazer</a></h6>
                </div>
                <div class="col-lg-4 col-md-4">
                    <small><p  class="m-t">Copyright &copy <a href="https://shirpala.ir" target="_blank">www.shirpala.ir</a> 2021</p>
                    <p>All Rights Reserved.</p></small>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
